<ion-view title="Add New Species" id="addSpeciesPage">
    <label class="item item-input has-header bar-subheader">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Seach by Speices or Name" ng-model="searchText">
    </label>
    <ion-content padding="true" class="has-subheader">
        <form id="species-form1" class="list">
            <ion-list class="has-subheader">
                <ion-item class="item-thumbnail-left" ng-repeat="item in species | filter:searchText" layout="center end" style="height:120px;padding:0px;">
                    <div class="row">
                        <div class="col-25">
                            <img src={{item.src}} style="border-radius:500px;width:80px;height:80px">
                        </div>
                        <div class="col-75 item-text-wrap" align="center">
                            <div class="row-60">
                                <h4>{{item.species}} </h4>
                                <h4>{{item.name==''||item.name.length>100?'':'('+item.name+')'}} </h4>
                            </div>
                            <div class="row-40">
                                <div class="col">
                                    <button class="button button-block button-positive" ng-click="goTally(item)">Add</button>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </ion-item>
            </ion-list>
        </form>
    </ion-content>


    <ion-footer-bar align-title="middle" class="bar-success">
      <h6> Bird Data Obtained From: <strong>www.oceanlight.com</strong> </h6>
    </ion-footer-bar>
</ion-view>