<ion-view title="Login Page" id="loginPage">
    <ion-content padding="true" class="has-header">
        <br><br><br><br>
        <h1 style="color:#37B8B5;text-align:center;">BirdieWatch</h1>
        <div>
            <img src="img/loginBird.jpg" width="100%" height="auto">
        </div>
        <br>
        <form id="loginForm" class="list">
            <label class="item item-input" id="page-input4" name="Demo">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Demo">
            </label>
            <label class="item item-input" id="page-input5">
                <span class="input-label">Password</span>
                <input type="text" placeholder="Demo">
            </label>
        </form>
        <button class="button button-calm  button-block" ui-sref="menu.reportPage()">Login</button>
    </ion-content>
</ion-view>