
<ion-view title="My Reports" id="reportPage" >
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
   
        <ion-list id="reportList">
        	<div ng-repeat="(date,reports) in reports">
	            <ion-item class="item-divider" id={{date}} >{{date}}</ion-item>

	            <ion-item ng-repeat="report in reports">
	            	<label>{{report.label}} </label>
	            </ion-item>
            </ion-item>
        </div>
    </ion-content>

</ion-view>