<ion-view title="My Reports" id="reportPage" >
    <ion-content padding="true" class="has-header">
   
        <ion-list id="myReports-list5">
        	<div ng-repeat="(date,reports) in reports">
	            <ion-item class="item-divider" id={{date}} >{{date}}</ion-item>

	            <ion-item id="myReports-list-item8" ng-repeat="report in reports">
	            	<label>{{report.label}} </label>
	            </ion-item>
            </ion-item>
        </div>
    </ion-content>

    <ion-footer-bar align="center" class="bar-success">
    	<label class="title"></label>
      	<div class="buttons">
        	<button id="myReports-button3" class="button button-positive " ui-sref="menu.tallySheet()">Report New Tally Data</button>
 
      	</div>
    </ion-footer-bar>
</ion-view>